/* Font-family 'Merriweather Sans' italic light 300, regular 400, bold 700 */
@font-face {
    font-family: 'Merriweather Sans';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-cM9IRs1JiJN1FRAMjTN5zd9vgsFHXwWDvLBsPDdpWMaq2TzdsFxxU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/merriweathersans/v14/2-c99IRs1JiJN1FRAMjTN5zd9vgsFHX1QjU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Mobile width max 480px */
/* Tablet width max 800px */
/* Large screens min 800px */
/* Extra-Large screens min 1200px */

/* Universal styles */
html {
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 1.8rem;
    color: rgb(253, 255, 252);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4,
p,
span,
a,
.btn {
    font-size: 1.3rem;
}

p {
    margin: 0;
}

.container {
    display: flex;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 159, 28);
    font-weight: 700;
    color: white;
    border: none;
}

a {
    text-decoration: none;
    color: rgb(253, 255, 252);
}

img {
    width: 25%;
}

.space {
    height: 50px;
}

.last {
    border: none !important;
}

.section-title {
    margin-bottom: 40px;
}

@media only screen and (min-width:480px) {
    .space {
        height: 75px;
    }
}

@media only screen and (min-width:800px) {
    .space {
        height: 100px;
    }
}


/* Header section */
header {        
    width: 100%;
    height: 100px;
    background-color: rgb(1, 22, 39);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(253, 255, 252);
    position: fixed;
    z-index: 10;
}

div.header {
    width: 100%;
    padding: 0 20px;
}

section.logo {
    display: flex;
    align-items: center;
    width: 30%;
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav img {
    width: 100%;
    max-width: 60px;
}

nav ul {
    display: none;
}

section.logo img{
    height: 70px;
    display: none;
}

@media only screen and (min-width:800px) {
    header {
        height: 110px;
    }

    div.header { 
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    
    section.logo img {
        display: block;
        width: 120px;
        height: auto;
    }

    .app-name {
        display: none;
    }

    nav img {
        display: none;
    }

    nav ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 100%;
    }
}

/* Main section */
main {    
    position: relative;
    top: 100px;
}

@media only screen and (min-width:800px) {
    main {
        top: 10px;
    }
}

/* Banner */
.banner {
    background-image: url("../images/banner-img-blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-quote {
    width: 300px;
    text-align: center;
    background-color: rgba(253, 255, 252, 1);
    color: rgb(1, 22, 39);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 300;
    font-style: italic;
}

@media only screen and (min-width:480px) {
    .banner {
        height: 400px;
    }
}

@media only screen and (min-width:800px) {
    .banner {
        height: 500px;
    }
}

@media only screen and (min-width:1200px) {
    .banner {
        height: 600px;
    }
}

/* Mission section */
.mission {
    color: rgb(1, 22, 39);
    padding: 0 20px;
    text-align: center;
}

@media only screen and (min-width:480px) {
    .mission {
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:800px) {
    .mission {
        width: 60%;
    }
}

/* Features section */
.features {
    background-color: rgb(46, 196, 182);
    flex-direction: column;
    align-items: center;
}

.features-list {
    flex-direction: column;
    align-items: center;
}


.feature {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid;
}

.feature span {
    margin-bottom: 40px;
}

@media only screen and (min-width:480px){
    .features {
        background-color: rgba(253, 255, 252, 1);
    }

    .features h2 {
        color: rgb(1, 22, 39);
    }
    
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        /* For rounded corners */
        /* justify-content: space-around; */
    }

    .feature {
        width: 45%;
        height: 350px;
        margin: 0;
        background-color: rgb(46, 196, 182);
        border: none;
        margin-bottom: 20px;
        padding: 60px 10px;
        /* For rounded corners */
        /* border-radius: 10px; */
    }
}

@media only screen and (min-width:800px){  
    .features-list {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
        /* For rounded corners */
        /* justify-content: space-around; */
    }

    .feature {
        width: 30%;
        height: 200px;
        /* For rounded corners */
        /* border-radius: 10px; */
    }
}

/* Employees section */
div.employees {
    color: rgb(1, 22, 39);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

section.employees-list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.employees h2 {
    margin-top: 0;
}

.employee {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(1, 22, 39);
}

.employee-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media only screen and (min-width:800px) {
    section.employees-list {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        padding-bottom: 150px;
    }

    .employee {
        border: none;
        padding: 0;
        margin: 0;
    }

    .employee-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .last-space {
        display: none;
    }
}

/* Employees pictures */
.tom {
    background-image: url("../images/employee-tom.jpg");
    background-position: center;
    background-size: cover;
}
.julia {
    background-image: url("../images/employee-julia.jpg");
    background-position: center;
    background-size: cover;
}
.max {
    background-image: url("../images/employee-max.jpg");
    background-position: center;
    background-size: cover;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    background-color: rgb(1, 22, 39);
    /* height: 400px; */
    padding: 30px 0;
}

div.footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.footer section {
    margin-bottom: 20px;
}

section.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.download img{
    width: 200px;
}

section.social {
    width: 100%;
}

.social-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social-images img {
    width: 50px;
}

section.contact-info {
    width:100%;
}

section.contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

section.contact span {
    font-size: 1rem;
    margin-bottom: 10px;
}

.copyright {
    margin: 0;
}

@media only screen and (min-width:480px) {
    footer {
        height: 800px;
    }

    .social-images {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
    }

    .social-images img {
        width: 60px;
    }

    section.contact {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    section.contact span {
        text-align: center;
        width: 30%;
    }    
}

@media only screen and (min-width:800px) {
    div.footer {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    section.download {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    section.social {
        width:50%;
    }

    section.contact-info {
        width: 50%;
    }

    footer {
        height: 500px;
    }
}